{% extends "layout.html" %}

{% block content %}
<h2 class="mb-3 fw-bold text-primary">Products</h2>

<div class="row g-2">
    {% for p in products %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="card shadow-sm border-0 text-center">

            <img src="{{ p.image_url }}"
                 class="product-img"
                 onerror="this.src='/static/placeholder.png'">

            <div class="card-body p-1">
                <p class="card-title mb-1 text-truncate">{{ p.name }}</p>
                <p class="fw-bold text-success mb-1 fs-6">₹ {{ p.price }}</p>
                <a href="/product/{{ p.id }}" class="btn btn-sm btn-primary w-100">View</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
